
run = ["sh", "-c", "mkdir -p build && cd build && cmake .. && make && ./amazon_locker"]
modules = ["python-3.11"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "cd build && ./amazon_locker"]
build = ["sh", "-c", "mkdir -p build && cd build && cmake .. && make"]

# [languages]
# cpp = "cpp17"

[languages.cpp]
pattern = "**/*.{cpp,h}"
languageServer = { start = ["clangd"] }

[[ports]]
localPort = 8080
externalPort = 80
